$black: #050609;
$white: #ffffff;


$button-available: #3498db;
$button-available-hover: #3cb0fd;
$button-available-away: #bc3315;
$button-available-away-hover: #d0451b;

$button-shout: #91972A;


// $hot-blue: #2230f1;
$hot-blue: #222DF2;
$light-blue: #29aae1;
$red: #ff273e;
$green: #12f488;
$grey: #2d3037;
$light-grey: #e8e8e8;
$medium-grey: #929395;
$dark-grey: #151a20;
$almost-black: #151516;
$purple: #4c30f4;
$dark-purple: #151c3d;
$dark-white: #e8e8e8;
$dark-beige: #5d5d5b;

$active-grey-1: #4f5563;
$active-grey-2: #3e424b;

$normal-grey-1: #33373e;
$normal-grey-2: #2d3037;
$normal-grey-middle: #30333a;

// $standard-gradient: linear-gradient(180deg, $normal-grey-2 0%, $normal-grey-middle 19%, $normal-grey-1 108%);
$standard-gradient: linear-gradient(180deg, $normal-grey-2, $normal-grey-1);

$active-gradient: linear-gradient(180deg, $active-grey-1, $active-grey-2 );
$inactive-gradient: $dark-grey;



$notification-blue: #2d3943;

$select-green: #29e1c1;

$cool-pink: #ff7a8b;
