@font-face {
  font-family: 'Apercu Regular';
  src: url('../fonts/apercu-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/apercu-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/apercu-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/apercu-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/apercu-regular.svg#b36b7256519cc66fbc1432f0c6126806') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Apercu Light';
  src: url('../fonts/apercu-light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/apercu-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/apercu-light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/apercu-light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/apercu-light.svg#e84b7a8b5afb81f260ea81bfcd555715') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Apercu Bold';
  src: url('../fonts/apercu-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/apercu-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/apercu-bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/apercu-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/apercu-bold.svg#0173572ae23caf3e4e6d6c9b98fd6474') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}


//

@mixin helvetica {
  font-family: Helvetica,sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin apercu-regular {
  font-family: 'Apercu Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin apercu-light {
  font-family: 'Apercu Light', sans-serif;
  font-style: normal;
  font-weight: 200;
}

@mixin apercu-bold {
  font-family: 'Apercu Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
}
