<!-- Alfred Panels -->

<section class="alfred-panels">

  <div class="panel one">
    {% if is_noChat %}
      <img src="images/panel-no-chat.png" alt="Panel1 FPO">
    {% else %}
      <img src="images/panel.png" alt="Panel1 FPO">
    {% endif %}
  </div>
  <div class="panel two">
    <img src="images/awesome-menu.png" alt="Awesome Menu FPO">
  </div>

</section>

