<ul id="call-history">

    <li {{class}}>
        <div class="line-item">
            <div class="call-type-icon">
                <img src="images/phone-type-icon.svg" alt="lorem">
            </div>
            <div class="meta">
                <div class="name">
                    {{contact_name}}
                </div>
                <div class="company">
                    {{company_name}}
                </div>
            </div>
            <div class="time">
                {{timestamp}}
            </div>
        </div>
        <div class="panel-wrapper">
            <div class="controls">
                <div class="call-button">
                    <img src="">
                </div>
                <div class="separator"></div>
                <div class="text-button">
                    <img src="">
                </div>
            </div>
            <div class="conversation-summary">
                <div class="header">
                    Conversation Summary
                </div>
                <div class="macro">
                    <div class="micro">
                        <span class="call-review">
                            Eva O'Malley called you
                        </span>
                        <span class="timestamp">
                            10:30:02 AM
                        </span>
                    </div>
                </div>
                <div class="footer">
                    13+ More
                </div>
            </div>
        </div>
    </li>

</ul>
