<!-- Chat Tab -->

<div class="tab {{class}}">
    <div class="name">
        {{tab_name}}
    </div>
    <div class="hover-close">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 148 146" style="enable-background:new 0 0 148 146;" xml:space="preserve">
            <line class="st0" x1="19" y1="18.7" x2="128.1" y2="127.8"/>
            <line class="st0" x1="128.1" y1="18.7" x2="19" y2="127.8"/>
        </svg>
    </div>
</div>
