<!-- Control Panel -->

<section class="control-panel">
    <div class="contact-tile-notification-trigger">
        1 - Text (Contact Tile) Notification
    </div>
    <div class="off-screen-notification-trigger">
        2 - Text (Off-screen) Message Notification
    </div>
    <div class="incoming-call-notification-trigger">
        3 -Incoming Call Notification
    </div>
    <div class="outgoing-call-trigger">
        4 -Outgoing Call
    </div>
    <div class="declined-call-trigger">
        5 -Declined Call (from Outgoing)
    </div>
    <div class="accepted-call-trigger">
        6 -Accepted Call
    </div>
    <div class="accepted-call-responding-trigger">
        7 - Accepted Call - Responding
    </div>
    <div class="reorder-state-trigger">
        8 - Reorder State
    </div>
    <div class="call-history-notification-trigger">
        9 - Toggle Call History Notification
    </div>
    <div class="message-window-trigger">
        10 - Toggle Message Window
    </div>
    <div class="one-tab-state-trigger">
        11 - Toggle Multiple Tab State
    </div>
    <div class="tab-manager-notification-trigger">
        12 - Tab Manager Message Notification
    </div>
    <div class="multiple-broadcasts-trigger">
        13 - Multiple Broadcasts
    </div>
    <div class="disconnected-trigger">
        14 - Disconnected
    </div>
    <div class="search-results-trigger">
        15 - Toggle Search Results
    </div>
    <div class="search-panel-trigger">
        16 - Toggle Search Panel
    </div>
    <div class="alfred-trigger">
        17 - Toggle "Alfred"
    </div>
    <div class="notification-slide-in-trigger">
        18 - Slide in Notification
    </div>
    <div class="notification-show-all-trigger">
        19 - Show all Notifications
    </div>
    <div class="systray-trigger">
        20 - Toggle Systray
    </div>
    <div class="group-notification-trigger">
        21 - Group notification
    </div>
    <div class="context-menu-trigger">
        22 - Toggle Context Menu
    </div>
    <div class="new-contact-trigger">
        23 - New Contact Notification
    </div>
    <div class="phone-call-notification-trigger">
        24 - Phone Call Notification
    </div>
    <div class="login-screen-trigger">
        25 - Login Screen
    </div>
    <div class="login-screen-error-trigger">
        26 - Login Screen - Error
    </div>

</section>
