<!-- Create a Group -->

<section class="create-a-group">
    <div class="close">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 148 146" style="enable-background:new 0 0 148 146;" xml:space="preserve">
            <style type="text/css">
                .st0 {
                    fill: none;
                    stroke: #fff;
                    stroke-width: 30;
                    stroke-miterlimit: 10;
                }
            </style>
            <line class="st0" x1="19" y1="18.7" x2="128.1" y2="127.8"/>
            <line class="st0" x1="128.1" y1="18.7" x2="19" y2="127.8"/>
        </svg>
    </div>

    <header>
        <span class="create-text">Create a</span>
        <span class="edit-text">Edit</span>
        Group
    </header>

    <div class="group-name">
        <div class="title">
            Group Name
        </div>
        <div class="text-field">
            <input id="group-name-input" type="text" value="Energy Markets Team" {# placeholder="search" #}>
        </div>
    </div>

    <div class="invite-members">
        <div class="title">
             Invite Members
        </div>
        <div class="text-field">
            <div class="selected-name">
                Manny Kipp
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 148 146" style="enable-background:new 0 0 148 146;" xml:space="preserve">
                    <line class="st0" x1="19" y1="18.7" x2="128.1" y2="127.8"/>
                    <line class="st0" x1="128.1" y1="18.7" x2="19" y2="127.8"/>
                </svg>
            </div>
            <div class="ch">
                Ch
            </div>
            <div class="search-icon">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 55.6 55.4" style="enable-background:new 0 0 55.6 55.4;" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: none;
                            stroke: #231F20;
                            stroke-width: 4;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                            stroke-miterlimit: 10;
                        }
                        .st1 {
                            fill: none;
                            stroke: #231F20;
                            stroke-width: 5;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                            stroke-miterlimit: 10;
                        }
                    </style>
                    <ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -8.813 21.607)" class="st0" cx="21.7" cy="21.4" rx="19.2" ry="19.2"/>
                    <line class="st1" x1="36.2" y1="36" x2="52.8" y2="52.6"/>
                </svg>
            </div>
        </div>
        <div class="members-dropdown">
            <div class="title">
                Suggested
            </div>
            <div class="name">
                Chloe Applegate <span>Welsh Fargo</span>
            </div>
            <div class="name">
                Charles brewsterly <span>Blue canvas skywriters</span>
            </div>
            <div class="name">
                Chelsea Pierpont <span>triple a stablekeeper</span>
            </div>
            <div class="name">
                Chandler Trupple <span>industrial solitions</span>
            </div>
        </div>
    </div>

    <div class="suggested show">
        <div class="title">
            Suggested
        </div>

        <div class="names">
            <div class="name">
                Evana Goliath <span>Welsh Fargo</span>
            </div>
            <div class="name">
                Johnson woodrich <span>Blue canvas skywriters</span>
            </div>
            <div class="name">
                levandea beewhistle <span>triple a stablekeeper</span>
            </div>
            <div class="name">
                anne jo wishbead <span>industrial solitions</span>
            </div>
            <div class="name">
                jean busslings <span>fender, stopson & InJurs</span>
            </div>
        </div>
    </div>

    <div class="members-list">
        <div class="title">
            6 members
        </div>
        <div class="line-items">
            <div class="line-item">
                Manny Kipp
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 148 146" style="enable-background:new 0 0 148 146;" xml:space="preserve">
                    <line class="st0" x1="19" y1="18.7" x2="128.1" y2="127.8"/>
                    <line class="st0" x1="128.1" y1="18.7" x2="19" y2="127.8"/>
                </svg>
            </div>
            <div class="line-item">
                Curvin Derbyshire
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 148 146" style="enable-background:new 0 0 148 146;" xml:space="preserve">
                    <line class="st0" x1="19" y1="18.7" x2="128.1" y2="127.8"/>
                    <line class="st0" x1="128.1" y1="18.7" x2="19" y2="127.8"/>
                </svg>
            </div>
            <div class="line-item">
                Thomas Rhodes
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 148 146" style="enable-background:new 0 0 148 146;" xml:space="preserve">
                    <line class="st0" x1="19" y1="18.7" x2="128.1" y2="127.8"/>
                    <line class="st0" x1="128.1" y1="18.7" x2="19" y2="127.8"/>
                </svg>
            </div>
            <div class="line-item">
                Rita Herrera
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 148 146" style="enable-background:new 0 0 148 146;" xml:space="preserve">
                    <line class="st0" x1="19" y1="18.7" x2="128.1" y2="127.8"/>
                    <line class="st0" x1="128.1" y1="18.7" x2="19" y2="127.8"/>
                </svg>
            </div>
            <div class="line-item">
                Minerva Jones
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 148 146" style="enable-background:new 0 0 148 146;" xml:space="preserve">
                    <line class="st0" x1="19" y1="18.7" x2="128.1" y2="127.8"/>
                    <line class="st0" x1="128.1" y1="18.7" x2="19" y2="127.8"/>
                </svg>
            </div>
            <div class="line-item">
                Anne Wright
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 148 146" style="enable-background:new 0 0 148 146;" xml:space="preserve">
                    <line class="st0" x1="19" y1="18.7" x2="128.1" y2="127.8"/>
                    <line class="st0" x1="128.1" y1="18.7" x2="19" y2="127.8"/>
                </svg>
            </div>
        </div>
    </div>

    <div class="buttons">
        <div class="button">
            <span class="create-text">Create Group</span>
            <span class="save-text">Save Changes</span>
        </div>
        <div class="button cancel">
            Cancel
        </div>
        <footer>
            Groups are only visable to people you invite
        </footer>
    </div>
</section>
