<!-- Create a Contact -->

<section class="create-a-contact">

    <div class="close">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 148 146" style="enable-background:new 0 0 148 146;" xml:space="preserve">
            <style type="text/css">
                .st0 {
                    fill: none;
                    stroke: #fff;
                    stroke-width: 30;
                    stroke-miterlimit: 10;
                }
            </style>
            <line class="st0" x1="19" y1="18.7" x2="128.1" y2="127.8"/>
            <line class="st0" x1="128.1" y1="18.7" x2="19" y2="127.8"/>
        </svg>
    </div>

    <header class="header">
        <div class="title">
            Create a Contact
        </div>
        <div class="sub-title">
            You can call people who aren't on Elliot by using their phone number
        </div>
    </header>

    <div class="group-name">
        <div class="title">
            Contact Name
        </div>
        <div class="text-field">
            <input id="group-name-input" type="text" value="Charles Brewster" {# placeholder="search" #}>
        </div>
    </div>

    <div class="group-name">
        <div class="title">
            Company <span>(Optional)</span>
        </div>
        <div class="text-field">
            <input id="group-name-input" type="text" value="" {# placeholder="search" #}>
        </div>
    </div>

    <div class="group-name phone-number">
        <div class="title">
            Phone Number
        </div>
        <div class="text-field">
            <span class="ghost">
                +9
            </span>
            <input id="group-name-input" type="text" value="" {# placeholder="search" #}>
        </div>
    </div>

    <div class="buttons">
        <div class="button">
            Create Contact
        </div>
        <div class="button cancel">
            Cancel
        </div>
    </div>

</section>
