<!-- Dialpad -->

<section class="dialpad">
    <div class="window-controls">
        <div class="minimize">
            <span></span>
        </div>
        <div class="close">
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="input-area">
        <input placeholder="Phone number or extension"></input>
        <div class="selected-name">
            <span class="name">
                Chloe Applegate
            </span>
            <span class="number">
                1 (512) 944-2800
            </span>
        </div>
        <div class="add-contact-icon">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 89.3" style="enable-background:new 0 0 100 89.3;" xml:space="preserve">
                <style type="text/css">

                </style>
                <path class="st0" d="M43.9,51.3c-1-0.3-2.1-0.8-3.2-1.3C47.3,47.3,52,40.8,52,33.3V22.2c0-9.9-9.4-19.8-20.7-19.8
                    c-11.3,0-20.7,9.9-20.7,19.8v11.1c0,7.6,4.8,14.2,11.5,16.8c-1.1,0.5-2.2,1-3.4,1.3c-7,1.7-16.5,7.4-16.5,16.5v19h58.3v-19
                    C60.4,58.8,49.5,52.9,43.9,51.3z"></path>
                <polygon class="st1" points="99,42.5 87.5,42.5 87.5,31 76.9,31 76.9,42.5 65.4,42.5 65.4,53.2 76.9,53.2 76.9,64.6 87.5,64.6
                    87.5,53.2 99,53.2 "></polygon>
            </svg>
        </div>
        <div class="dropdown">
            <span>
                Chloe Applegate
            </span>
            <span>
                Charles Brewsterly
            </span>
            <span>
                Chelsea Pierpont
            </span>
            <span>
                Chandler Trupple
            </span>
        </div>
    </div>
    <div class="keypad">
        <div class="key">
            <span class="numeral">1</span>
            <span class="letters">&nbsp;</span>
        </div>
        <div class="key">
            <span class="numeral">2</span>
            <span class="letters">abc</span>
        </div>
        <div class="key">
            <span class="numeral">3</span>
            <span class="letters">def</span>
        </div>
        <div class="key">
            <span class="numeral">4</span>
            <span class="letters">ghi</span>
        </div>
        <div class="key">
            <span class="numeral">5</span>
            <span class="letters">jkl</span>
        </div>
        <div class="key">
            <span class="numeral">6</span>
            <span class="letters">mno</span>
        </div>
        <div class="key">
            <span class="numeral">7</span>
            <span class="letters">pqrs</span>
        </div>
        <div class="key">
            <span class="numeral">8</span>
            <span class="letters">tuv</span>
        </div>
        <div class="key">
            <span class="numeral">9</span>
            <span class="letters">wxyz</span>
        </div>
        <div class="key star">
            <span class="numeral">*</span>
        </div>
        <div class="key zero">
            <span class="numeral">0</span>
            <span class="letters">+</span>
        </div>
        <div class="key hash">
            <span class="numeral">#</span>
        </div>
    </div>
    <div class="dial-controls">
        <div class="button transfer">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 98.3 90.9" style="enable-background:new 0 0 98.3 90.9;" xml:space="preserve">
                <path class="st0" d="M44.8,52.2c-1-0.3-2.1-0.8-3.2-1.3c6.6-2.7,11.3-9.2,11.3-16.7V23.1c0-9.9-9.4-19.8-20.7-19.8
                    c-11.3,0-20.7,9.9-20.7,19.8v11.1c0,7.6,4.8,14.2,11.5,16.8c-1.1,0.5-2.2,1-3.4,1.3C12.6,53.9,3,59.6,3,68.7v19h58.3v-19
                    C61.3,59.6,50.3,53.7,44.8,52.2z"/>
                <path class="st1" d="M59.8,48.4c0,1.2,0.6,2.2,1.5,2.9l19,13.3c1.6,1.1,3.8,0.7,4.9-0.9c1.1-1.6,0.7-3.8-0.9-4.9L74.6,52l18.5,0
                    c2,0,3.5-1.6,3.5-3.5c0-1-0.4-1.9-1-2.5s-1.5-1-2.5-1l-18.5,0l9.8-6.8c1.6-1.1,2-3.3,0.9-4.9c-0.1-0.2-0.3-0.3-0.4-0.5
                    c-1.2-1.2-3.1-1.4-4.5-0.4l-19,13.3C60.4,46.2,59.8,47.3,59.8,48.4z"/>
            </svg>
        </div>
        <div class="button call-end">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 84.4 84.1" style="enable-background:new 0 0 84.4 84.1;" xml:space="preserve">
                <path class="st0" d="M8.8,5.7C1.7,12.9,1.3,22,1.3,22C3.1,30.9,13,47,25,59c12,12,28.2,21.9,37,23.7c0,0,9.1-0.4,16.3-7.5l0,0
                l4.2-4.2c0.6-0.6,0.6-1.5,0-2.1l-18-18c-0.6-0.6-1.5-0.6-2,0l-4.2,4.2l0,0l-4,4.9c0,0-7.6-1.6-18.2-12.3
                C25.5,37.3,23.9,29.7,23.9,29.7l5-4l0,0l0.1-0.1h0l0,0l4.1-4.1c0.6-0.6,0.6-1.5,0-2l-18-18c-0.6-0.6-1.5-0.6-2,0L8.8,5.7L8.8,5.7z"
                />
            </svg>
        </div>
    </div>
</section>
