<!-- Disconnected -->

<section class="disconnected">

    <div class="title">
        Disconnected
    </div>

    <div class="description">
        Reconnecting in 3<em>.</em><em>.</em><em>.</em>
    </div>

</section>

<section class="disconnected-overlay">
    &nbsp;
</section>
