<!-- Phone Call notification -->

<section class="phone-call-notification">
    <div class="macro">
        {# <img src="images/call-notification-fpo.png" alt="Phone Call FPO"> #}
        <img src="images/call-notification-fpo3.png" alt="Phone Call FPO">
    </div>
</section>
