<!-- Preferences -->

<section class="preferences">

    <div class="header">
        Preferences
        <span class="close">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 148 146" style="enable-background:new 0 0 148 146;" xml:space="preserve">
                <line class="st0" x1="19" y1="18.7" x2="128.1" y2="127.8"/>
                <line class="st0" x1="128.1" y1="18.7" x2="19" y2="127.8"/>
            </svg>
        </span>
    </div>

    <div class="line-items">

        <div class="line-item">
            <span class="title">
                General
            </span>
            <div class="caret">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 243.1 221.5" style="enable-background:new 0 0 243.1 221.5;" xml:space="preserve">
                    <polygon class="st0" points="124.4,14.5 233.5,203.4 15.4,203.4 "/>
                </svg>
            </div>
        </div>
        <div class="line-item">
            <span class="title">
                Notifications
            </span>
            <div class="caret">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 243.1 221.5" style="enable-background:new 0 0 243.1 221.5;" xml:space="preserve">
                    <polygon class="st0" points="124.4,14.5 233.5,203.4 15.4,203.4 "/>
                </svg>
            </div>
        </div>
        <div class="line-item">
            <span class="title">
                Audio &amp; Devices
            </span>
            <div class="caret">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 243.1 221.5" style="enable-background:new 0 0 243.1 221.5;" xml:space="preserve">
                    <polygon class="st0" points="124.4,14.5 233.5,203.4 15.4,203.4 "/>
                </svg>
            </div>
        </div>
{#         <div class="line-item">
            <span class="title">
                Advanced
            </span>
            <div class="caret">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 243.1 221.5" style="enable-background:new 0 0 243.1 221.5;" xml:space="preserve">
                    <polygon class="st0" points="124.4,14.5 233.5,203.4 15.4,203.4 "/>
                </svg>
            </div>
        </div> #}

    </div>

</section>
