<!-- Search Panel -->

<section class="search-panel">
    {% if is_noChat %}
        <img src="images/search-panel-nochat.png" alt="Search Panel - No Chat FPO">
    {% else %}
        <img src="images/search-panel.png" alt="Search Panel FPO">
    {% endif %}
</section>
