<!-- Search Results -->

<section class="search-results">
    {% if is_noChat %}
        <img src="images/search-results-nochat.png" alt="Search Results - No Chat FPO">
    {% else %}
        <img src="images/search-results2.png" alt="Search Results FPO">
    {% endif %}
</section>
