<!-- Settings Master -->

<section class="settings-master">

    <div class="header">
        <div class="title">
            Notifications
        </div>
        <div class="saved">
            Saved!
        </div>
        <div class="close">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 148 146" style="enable-background:new 0 0 148 146;" xml:space="preserve">
                <line class="st0" x1="19" y1="18.7" x2="128.1" y2="127.8"/>
                <line class="st0" x1="128.1" y1="18.7" x2="19" y2="127.8"/>
            </svg>
        </div>
        <div class="caret">
            <svg version="1.1" id="caret" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 243.1 221.5" style="enable-background:new 0 0 243.1 221.5;" xml:space="preserve">
                <polygon class="st0" points="124.4,14.5 233.5,203.4 15.4,203.4 "/>
            </svg>
        </div>
    </div>

    <div class="settings-block main-radio-buttons">
        <div class="title">
            System Notifications
        </div>
        <form class="radio-buttons">
            <input type="radio" name="example" value="1" checked="1"></input>
            <input class="value-change" type="radio" name="example" value="2"></input>
            <input type="radio" name="example" value="3"></input>
        </form>
        <div class="input-description-macro">
            <div class="micro">
                <div class="setting-title">
                    everything
                </div>
                <div class="setting-label">
                    show me notifications for <strong>calls, text chats, and app alerts</strong>
                </div>
            </div>
            <div class="micro">
                <div class="setting-title">
                    only calls and alerts
                </div>
                <div class="setting-label">
                    show me notifications for calls and app alerts
                </div>
            </div>
            <div class="micro">
                <div class="setting-title">
                    nothing
                </div>
                <div class="setting-label">
                    don’t allow any system notifications
                </div>
            </div>
        </div>
    </div>

    <div class="settings-block complex-buttons">
        <div class="title">
            Sounds
        </div>
        <div class="sounds-switch">
            <img src="images/switch.png" alt="Switch FPO">
            <span>Play sounds for Elliot alerts</span>
        </div>
        <div class="radio-group">
            <div class="radio-title">
                Calls
            </div>
            <form class="radio-buttons">
                <div class="line-item">
                    <input type="radio" name="example" value="1" checked="1"></input>
                    <label>Elliot Waltz</label>
                </div>
                <div class="line-item">
                    <input type="radio" name="example" value="2"></input>
                    <label>Big Melody</label>
                </div>
                <div class="line-item">
                    <input type="radio" name="example" value="3"></input>
                    <label>Chimes</label>
                </div>
                <div class="line-item">
                    <input type="radio" name="example" value="4"></input>
                    <label>Do si do</label>
                </div>

            </form>
            {# <div class="input-description-macro">
                <div class="micro">
                    <div class="setting-title">
                        everything
                    </div>
                    <div class="setting-label">
                        show me notifications for <strong>calls, text chats, and app alerts</strong>
                    </div>
                </div>
                <div class="micro">
                    <div class="setting-title">
                        only calls and alerts
                    </div>
                    <div class="setting-label">
                        show me notifications for calls and app alerts
                    </div>
                </div>
                <div class="micro">
                    <div class="setting-title">
                        nothing
                    </div>
                    <div class="setting-label">
                        don’t allow any system notifications
                    </div>
                </div>
            </div> #}
        </div>

        <div class="radio-group">
            <div class="radio-title">
                Text Chats
            </div>
            <form class="radio-buttons">
                <div class="line-item">
                    <input type="radio" name="example" value="1"></input>
                    <label>Elliot Pop</label>
                </div>
                <div class="line-item">
                    <input type="radio" name="example" value="2" checked="1"></input>
                    <label>Dashing Through</label>
                </div>
                <div class="line-item">
                    <input type="radio" name="example" value="3"></input>
                    <label>How do you do?</label>
                </div>
                <div class="line-item">
                    <input type="radio" name="example" value="4"></input>
                    <label>Burst</label>
                </div>

            </form>
            {# <div class="input-description-macro">
                <div class="micro">
                    <div class="setting-title">
                        everything
                    </div>
                    <div class="setting-label">
                        show me notifications for <strong>calls, text chats, and app alerts</strong>
                    </div>
                </div>
                <div class="micro">
                    <div class="setting-title">
                        only calls and alerts
                    </div>
                    <div class="setting-label">
                        show me notifications for calls and app alerts
                    </div>
                </div>
                <div class="micro">
                    <div class="setting-title">
                        nothing
                    </div>
                    <div class="setting-label">
                        don’t allow any system notifications
                    </div>
                </div>
            </div> #}
        </div>

        <div class="simple-drop-down">
            <div class="heading">
                Play Sounds Through:
            </div>
            <div class="drop-down-macro">
                <div class="trigger">
                    Elliot default speakers
                    <svg version="1.1" id="carat" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 243.1 221.5" style="enable-background:new 0 0 243.1 221.5;" xml:space="preserve">
                        <polygon class="st0" points="124.4,14.5 233.5,203.4 15.4,203.4 "/>
                    </svg>
                </div>
                <div class="drop-down-micro">
                    <div class="line-item">
                        Elliot Default Speakers
                    </div>
                    <div class="line-item">
                        Headphone port
                    </div>
                    <div class="line-item">
                        Laptop speakers
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="settings-block checkboxes">
        <div class="title">
            additional settings
        </div>
        <form class="radio-buttons">
            <input class="disabled" type="checkbox" value="1" checked="1"></input>
            <input type="checkbox" value="2"></input>
            <input type="checkbox" value="3" checked="1"></input>
        </form>
        <div class="input-description-macro">
            <div class="micro disabled">
                <div class="setting-title">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 78 99" style="enable-background:new 0 0 78 99;" xml:space="preserve">
                        <rect x="7.7" y="35.8" class="st0" width="65.7" height="59.6"/>
                        <path class="st1" d="M63.1,37.6c0,18.1-10.1,32.8-22.5,32.8S18.1,55.7,18.1,37.6S28.1,8.4,40.6,8.4S63.1,19.4,63.1,37.6z"/>
                    </svg>
                    securely log calls for compliance purposes
                </div>
            </div>
            <div class="micro">
                <div class="setting-title">
                    quiet broadcasts when there is an incoming call
                </div>
            </div>
            <div class="micro">
                <div class="setting-title">
                    hold my calls when i’ve been idle for <input type="text" value="3"></input> minutes
                </div>
            </div>
        </div>
    </div>

</section>
