<!-- Settings dropdown -->

<div class="settings-dropdown">

    <div class="line-item">
        <div class="title">
            Preferences
        </div>
        <div class="key-command">
            <span class="key-style">
                CTRL
            </span>
            <span>
                +
            </span>
            <span class="key-style">
                P
            </span>
        </div>
    </div>
    <div class="line-item">
        <div class="title">
            Edit Contact List
        </div>
        <div class="key-command">
            <span class="key-style">
                CTRL
            </span>
            <span>
                +
            </span>
            <span class="key-style">
                C
            </span>
        </div>
    </div>
    <div class="separator">
    </div>
    <div class="line-item">
        <div class="title">
            Sign Out
        </div>
        <div class="key-command">
            <span class="key-style">
                Alt
            </span>
            <span>
                +
            </span>
            <span class="key-style">
                Esc
            </span>
        </div>
    </div>

</div>
