
<!-- Status bar -->

<section class="status-bar">
    <div class="settings">
        <svg version="1.1" class="settings-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 77.3 79.1" style="enable-background:new 0 0 77.3 79.1;" xml:space="preserve">
            <style type="text/css">
                .st0 {

                }
            </style>
            <path class="st0" d="M72.8,49.1l-5.6-4.9c0.2-1.4,0.3-2.9,0.3-4.4c0-3.2-0.5-6.4-1.5-9.3l4.6-5.8l-6.9-9.9l-7,2.4
            c-2.9-2.3-6.3-4.1-9.9-5.2l-2.1-7.1h-12L30.5,12c-5.3,1.6-10,4.6-13.6,8.7l-7.4-1.1L4.5,30.5l5.6,4.9c-0.2,1.4-0.3,2.9-0.3,4.4
            c0,3.2,0.5,6.4,1.5,9.3l-4.6,5.8l6.9,9.9l7-2.4c2.9,2.3,6.3,4.1,9.9,5.2l2.1,7.1h12l2.1-7.1c5.3-1.6,10-4.6,13.6-8.7l7.4,1.1
            L72.8,49.1z M38.6,54.9c-8.3,0-15.1-6.8-15.1-15.1s6.8-15.1,15.1-15.1s15.1,6.8,15.1,15.1S47,54.9,38.6,54.9z"></path>
        </svg>
    </div>
    <div class="user">
        <div class="background">
            <img src="images/toggle-bg.png" alt="Toggle BG">
        </div>
        <span class="status-dot"></span>
        <span class="user-status">
            <em class="not-taking-calls">Not Taking Calls</em>
            <em class="available show">Available</em>
        </span>
    </div>

    <div class="controls">
        <svg version="1.1" id="mini-player-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <g>
                <path class="st0" d="M29.1,43L29.1,43L29,21H10.1v0H3v26h26h0.1V43z M25,43H7V25h18V43z"/>
                <polygon class="st0" points="3,3 3,13 7,13 7,7 43,7 43,43 37.1,43 37.1,47 47,47 47,3    "/>
            </g>
        </svg>
        <div class="minimize">
            <span></span>
        </div>
        <div class="close-control">
            <span></span>
            <span></span>
        </div>
    </div>

{#     <div class="settings-trigger">
        <svg version="1.1" id="mini-player-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <g>
                <path d="M29.1,43L29.1,43L29,21H10.1v0H3v26h26h0.1V43z M25,43H7V25h18V43z"/>
                <polygon points="3,3 3,13 7,13 7,7 43,7 43,43 37.1,43 37.1,47 47,47 47,3    "/>
            </g>
        </svg>
    </div> #}

</section>
