<section class="systray">
    <div class="windows-desktop">
        <img src="images/windows-desktop.png" alt="Windows Desktop FPO">
        <div class="systray-icon">
            <img class="five" src="images/systray-hotmic.png" alt="Systray Icon Hot Mic">
        </div>
    </div>

    <div class="systray-icons">
        <img class="one" src="images/systray-loggedout.png" alt="Systray Icon Logged Out">
        <img class="two" src="images/systray-available.png" alt="Systray Icon Available">
        <img class="three" src="images/systray-busy.png" alt="Systray Icon Busy">
        <img class="four" src="images/systray-disconnected.png" alt="Systray Icon Disconnected">
        <img class="five" src="images/systray-hotmic.png" alt="Systray Icon Hot Mic">
    </div>

    <div class="systray-icons-small">
        <img class="one" src="images/systray-loggedout.png" alt="Systray Icon Logged Out">
        <img class="two" src="images/systray-available.png" alt="Systray Icon Available">
        <img class="three" src="images/systray-busy.png" alt="Systray Icon Busy">
        <img class="four" src="images/systray-disconnected.gif" alt="Systray Icon Disconnected">
        <img class="five" src="images/systray-hotmic.png" alt="Systray Icon Hot Mic">
    </div>
</section>
