<!-- Windows Header -->

<section class="windows-header">
	<div class="app-name">
		Elliot
	</div>
	<div class="controls">
		<img src="images/minimize.png" alt="Minimize">
		<img src="images/close.png" alt="Close">
	</div>
</section>
