// _search-panel.scss

.search-panel {
    position: absolute;
    bottom: 4.6rem;
    left: 0;
    z-index: 5;
    transform: translateY(100%) translateY(4.6rem);
    transition: transform 0.5s;

    &.show {
        transform: translateY(0);
    }

    img {

    }
}
