// _status-bar.scss

.status-bar {
  width: 100%;
  overflow: auto;
  height: 3.5rem;
  border-top: 0.1rem solid $almost-black;

  .settings {
    position: absolute;
    left: 0;
    top: 1rem;
    height: 1.5rem;
    border-right: 0.1rem solid $grey;

    &:hover {
      cursor: pointer;

      svg {

        .st0 {
          stroke: $select-green;
        }
      }
    }

    &.active {

      svg {

        .st0 {
          stroke: $select-green;
        }
      }
    }

    svg {
      width: 1.2rem;
      margin:0.1rem 1rem 0;

      .st0 {
        stroke-width: 5;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
      }
    }
  }

  .user {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 4rem;
    transform: translateY(-50%);
    height: 1.2rem;

    .background {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      &:hover {
        cursor: pointer;
      }

      img {
        width: 2.4rem;
      }
    }

    .status-dot {
      width: 1rem;
      height: 1rem;
      background: $green;
      border-radius: 50%;
      display: block;
      float: left;
      margin: 0.1rem 0 0 0;
      transform: translateX(1.3rem);
      transition: background 0.3s, transform 0.3s;

      &:hover {
        cursor: pointer;
      }
    }

    #user-icon {
      height: 1.5rem;
      float: left;

      .st0 {
        fill: $green;
        stroke: $green;
        stroke-width: 3;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
      }
    }

    .user-status {
      text-transform: uppercase;
      float: left;
      margin: 0 0 0 2.4rem;
      position: relative;
      width: 10rem;
      overflow: hidden;
      white-space: nowrap;

      em {
        font-style: normal;

        &.available {
          position: relative;
          top: 0;
          left: 0;
          display: block;
          float: left;
          opacity: 0;
          transition: all 0.4s;
          //
          top: -1.1rem;
          transform: translateX(-110%);

          &.show {
            transform: translateX(0);
            opacity: 1;
          }
        }

        &.not-taking-calls {
          @extend .available;
          top: 0;
          transform: translateX(60%);
        }
      }
    }

    #carat {
      height: 0.6rem;
      float: left;
      margin: 0.5rem 0 0 0.5rem;
      transform: rotate(180deg);

      .st0 {
        fill: $white;
      }
    }

    &.toggle-availability {

      .status-dot {
        background: $active-gradient;
        transform: translateX(0);
      }
    }
  }

  .controls {
    float: right;
    margin: 1rem 1.5rem 0 0;

    img {
      margin: 0 0 0 2rem;

      &:hover {
        cursor: pointer;
      }

      &.mini-player-icon {
        width: 1.3rem;
      }
    }

    svg {
      margin: 0 0 0 2rem;

      &:hover {
        cursor: pointer;
      }

      &#mini-player-icon {
        width: 1.3rem;

        .st0 {
            stroke: $white;
            fill: $white;
            stroke-width: 1;
            transition: all 0.2s;
        }

        &:hover {

          .st0 {
            stroke: $select-green;
            fill: $select-green;
          }
        }
      }
    }

    div {
      margin: 0 0 0 2rem;
      display: inline-block;

      span {
        transition: background 0.3s;
      }

      &:hover {
        cursor: pointer;
      }

      &.minimize {
        width: 1.3rem;
        height: 1.3rem;
        position: relative;

        span {
          width: 100%;
          height: 0.1rem;
          background: $white;
          position: absolute;
          bottom: 0;
          left: 0;
        }

        &:hover {

          span {
            background: $select-green;
          }
        }
      }

      &.close-control {
        width: 1.5rem;
        height: 1.5rem;
        position: relative;
        transform: rotate(45deg);

        span {
          width: 100%;
          height: 0.1rem;
          background: $white;
          position: absolute;
          bottom: 0.3rem;
          left: 0;

          & + span {
            transform: rotate(90deg);
          }
        }

        &:hover {

          span {
            background: $select-green;
          }
        }
      }
    }
  }

  .settings-trigger {
    // position: absolute;
    // top: 50%;
    // right: 1.5rem;
    // transform: translateY(-50%);

    float: right;
    margin: 1.3rem 0 0;

    #cog-icon {
      height: 1rem;

      .st0 {
        fill: $white;
      }

      .st1 {
        fill: $white;
        stroke: $white;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
      }

      .st2 {
        fill: $white;
        stroke: $white;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
      }
    }
  }
}

